## Path to haXe. Default: HAXEPATH environment variable
#haxe.path=/path/to/haxe

## Path to haXe std library. Default: HAXEPATH/std
#haxe.stdpath=${env.HAXEPATH}/std

## Enable/disable debugging
#haxe.debug=false

## C++ compiler. Supported values:
##   g++ - GNU C++ Compiler (default)
##   msvc - Microsoft Visual C compiler
#cpp.compiler=g++

## Native image loading module to use
#image.module=imagemagick
#image.module=devil

## Path to ImageMagick installation directory
#imagemagick.path=c:/program files/imagemagick

## Path to ImageMagick include directory
#imagemagick.include.path=${imagemagick.path}/include

## Path to ImageMagick library directory (for locating CORE_RL_wand_.dll, CORE_RL_wand_.lib, etc.)
#imagemagick.library.path=${imagemagick.path}/lib

## Name of ImageMagick shared library
#imagemagick.library.name=CORE_RL_wand_
#imagemagick.library.name=MagickWand
#imagemagick.library.name=Wand

## Path to DevIL installation directory
#devil.path=c:/program files/devil

## Path to DevIL include directory
#devil.include.path=${devil.path}/include

## Path to DevIL library directory (for locating DevIL.dll, ILU.dll)
#devil.library.path=${devil.path}/lib

## Name of DevIL base library
#devil.base.library.name=DevIL

## Name of DevIL util library
#devil.util.library.name=ILU

## Path to neko installation directory
#neko.path=c:/program files/motion-twin/neko

## Path to neko include directory
#neko.include.path=${neko.path}/include

## Path to neko library directory (for locating neko.dll, neko.lib, etc.)
#neko.library.path=${neko.path}

## Path to FreeType2 installation directory
#freetype.path=c:/libraries/freetype

## Path to FreeType2 inlcude directory (the one where ft2build.h resides)
#freetype.include.path=${freetype.path}/include

## Path to FreeType2 library directory (for locating freetype6.dll, freetype.lb, etc.)
#freetype.library.path=${freetype.path}/lib

## Name of FreeType shared library
#freetype.library.name=freetype

## Path to NaturalDocs installation directory
#naturaldocs.path=c:/utilities/NaturalDocs

## Path to NaturalDocs executalbe
#naturaldocs.executalbe=c:/utilites/NaturalDocs/NaturalDocs.bat

## Base installation path
#install.path=/usr/local

## Binaries installation path
#install.path.bin=${install.path}/bin

## Modules installation path
#install.path.bin=${install.path}/lib/samhaxe

## Documentation installation path
#install.path.doc=${install.path}/doc/samhaxe

## Configuration installation path
#install.path.config=/etc

